<header>
    <!-- the navigation bar -->
   <nav class="navbar fixed-top navbar-expand-lg navbar-dark navbar-inverse bg-primary">
     <a class="navbar-brand" href="#">
        {{pageTitle}}
     </a>
     <div class="collapse navbar-collapse" id="nav-content">
        <ul class="ms-auto"></ul>
        <label style="color: #fff; margin-right: 10px;">Albums per page</label>
        <form class="my-2 my-lg-0 me-4" *ngIf="display">
          <div class="form-group">
            <select [ngModel]="selectedLimit" (ngModelChange)="onLimitChange($event)" class="form-control me-sm-2" name="select_limit">
              <option [value]="5">5</option>
              <option [value]="10">10</option>
              <option [value]="20">20</option>
            </select>
          </div>
        </form>
        <form class="navbar-nav" *ngIf="display">
          <input class="form-control me-sm-2" 
          name="search" 
          [(ngModel)]="search_value" 
          #search="ngModel" 
          type="text" placeholder="Search albums" aria-label="Search">
          <button class="btn outline btn-primary my-2 my-sm-0" (click)="performSearch()" type="submit">Search</button>
        </form>
        <ul class="navbar-nav" *ngIf="isLoggedIn">
          <li>
            <label class="username">{{username}}</label>
          </li>
          <li>
            <button class="btn outline btn-primary logout" (click)="logout()"><span class="fa fa-sign-out"></span>  Logout</button>
          </li>
        </ul>
     </div>
   </nav>
 </header>
  