<app-header [display]="enableSearch"></app-header>
<div class="row justify-content-center" style="margin-top: 60px;">
    <div class="col-md-6">
        <h2 class="text-center">Edit Song in {{albumToEdit.title}}</h2> <br/>
        <form name="form" #songForm="ngForm" (ngSubmit)="songForm.form.valid && editSong()" novalidate>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" #name="ngModel" [ngClass]="{ 'is-invalid': songForm.submitted && !name.valid }" [(ngModel)]="song.name" required>
                <div *ngIf="isFieldValid(name) || songForm.submitted">
                    <div *ngIf="name.errors && name.errors['required']" class="help-block text-danger">Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="writers">Writers (Comma separated)</label>
                <input type="text" name="writers" class="form-control" #writers="ngModel" [ngClass]="{ 'is-invalid': songForm.submitted && !writers.valid }" [(ngModel)]="song.writers" required>
                <div *ngIf="isFieldValid(writers) || songForm.submitted">
                    <div *ngIf="writers.errors && writers.errors['required']" class="help-block text-danger">Writers is required</div>
                </div>
            </div>
            <div class="form-group text-center" style="margin-top: 30px;">
                <button class="btn btn-primary">Edit Song</button>
                <a [routerLink]="['/albums', albumId]" class="btn btn-link">Cancel</a>
            </div>
        </form>
        <div *ngIf="hasSuccess" class="alert alert-success" style="margin-top: 30px;">
            {{successMessage}}
        </div>
        <div *ngIf="hasError" class="alert alert-danger" style="margin-top: 30px;">
            {{errorMessage}}
        </div>
    </div>
</div>
